<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Booking | Admin Dashboard</title>
    <link rel="stylesheet" href="/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div th:replace="common/layout :: navbar"></div>

<div class="container">

    <br><br>

    <h3>User Directory</h3>
    <hr>
    
    <a th:href="@{/users/new}" class="btn btn-primary btn-sm mb-3">
        Add User
    </a>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">

                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.role}"></td>

                <td>
                    <a th:href="@{/users/{userId}/edit(userId=${user.id})}" class="btn btn-primary btn-sm">
                        Update
                    </a>

                    <!-- in browser poti doar POST/GET unless e SPA/JS heavy, trebuie folosit hiddenMethod pt a masca browser-ului alte metode Delete/Put/etc. -->
                    <form th:action="@{/users/{userId}(userId=${user.id})}" method="post" style="display:inline;">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:replace="common/layout :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
